html
    head
        title= title
    body
        div
            table(border="1")
                thead
                    tr
                        th Images
                        th time in
                        th time out
                tbody
                    tr td a(href='/')